  
<h1 class='game-title'>Guess Who GOT</h1>
  	
  	<div id="guesses">
  	
  	</div>
  	
	<div id="game">
		
		<div id="playerBoard" class="pboard">
		
		</div>
		
		<div id="turnsTaken">
		
			<p> <a href="/instructions">Click Here</a> for Instructions &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Turns taken: 0</p>
		
		</div>
		
		<div id="textForUser">
		
		</div>
		
		<div id="selectGuess"  >
		
		<p>Mythology Q's &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Appearance Q's &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  Character Q's</p>
		
			<select id="houseList" >
			 	  <option value="stark">Are you fron House Stark?</option>
				  <option value="lanister">Are you fron House Lanister?</option>
				  <option value="tyrell">Are you fron House Tyrel?</option>
				  <option value="targaryan">Are you fron House Targaryan?</option>
				  <option value="none">Do you have a House?</option>
				  <option value="claim">Have you made a claim to the throne?</option>
				  <option value="alive">Are you Alive?</option>
			</select>
			<button id='guessButtonMyth'>guess</button> &nbsp &nbsp &nbsp
			
			<select id="appearance" >
			 	  <option value="m">Are you male?</option>
			 	  <option value="f">Are you female?</option>
				  <option value="blonde">Do you have blonde hair?</option>
				  <option value="brunette">Do you have brown hair?</option>
			</select>
			<button id='guessButtonAppearance'>guess</button> &nbsp &nbsp &nbsp
			
			<select id="personGuess" >
			 	  <option value="arya">Are you Arya?</option>
				  <option value="robb">Are you Robb?</option>
				  <option value="brienne">Are you Brienne?</option>
				  <option value="cersie">Are you Cersie?</option>
				  <option value="jamie">Are you Jamie?</option>
				  <option value="joffrey">Are you Joffrey?</option>
				  <option value="johnsnow">Are you John Snow?</option>
				  <option value="kal">Are you Kal Drogo?</option>
				  <option value="khaleesi">Are you Khaleesi?</option>
				  <option value="margery">Are you Margery?</option>
				  <option value="tyrion">Are you Tyrion?</option>
			</select>
			<button id='guessButtonPerson'>guess</button> &nbsp &nbsp &nbsp
			
		
		</div>
		
		<div id="cpuBoard" class="cboard">
		
		</div>
		
		
	</div>
	
<script src="javascripts/game.js"></script>
  