  
<h1>guess who GOT</h1>
  	
  	<div id="guesses">
  	
  	</div>
  	
	<div id="game">
		<div id="startForm">
			I Want <input type="number" id="numSymbols"> Symbols.
			<button id='startButton'>Play Now</button>
		</div>
		
		<div id="playerBoard" class="pboard">
		
		</div>
		
		<div id="textForUser">
		
		<div id="selectHouse"  >
		
			<select id="houseList" >
			 	  <option value="stark">Stark</option>
				  <option value="lanister">Lanister</option>
				  <option value="tyrel">Tyrel</option>
				  <option value="targaryan">Targaryan</option>
				  <option value="none">No House</option>
				  
			</select>
			<button id='guessButton'>guess</button>
			
		
		</div>
		
		<div id="cpuBoard" class="cboard">
		
		</div>
		
		
	</div>
	
<script src="javascripts/game.js"></script>
  