  
<h1>guess who GOT</h1>
  	
  	<div id="guesses">
  	
  	</div>
  	
	<div id="game">
		<div id="startForm">
			I Want <input type="number" id="numSymbols"> Symbols.
			<button id='startButton'>Play Now</button>
		</div>
		
		<div id="playerBoard" class="pboard">
		
		</div>
		
		<div id="textForUser">
		
		</div>
		
		<div id="selectGuess"  >
		
		<p>Mythology Q's &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Appearance Q's &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Character Q's</p>
		
			<select id="houseList" >
			 	  <option value="stark">Stark</option>
				  <option value="lanister">Lanister</option>
				  <option value="tyrel">Tyrel</option>
				  <option value="targaryan">Targaryan</option>
				  <option value="none">No House</option>
				  
			</select>
			<button id='guessButton'>guess</button> &nbsp &nbsp &nbsp
			
			<select id="appearance" >
			 	  <option value="m">male</option>
				  <option value="f">female</option>
			</select>
			<button id='guessButtonAppearance'>guess</button> &nbsp &nbsp &nbsp
			
			<select id="personGuess" >
			 	  <option value="arya">arya</option>
				  <option value="robb">robb</option>
			</select>
			<button id='guessButtonPerson'>guess</button> &nbsp &nbsp &nbsp
			
		
		</div>
		
		<div id="cpuBoard" class="cboard">
		
		</div>
		
		
	</div>
	
<script src="javascripts/game.js"></script>
  