

<h1>GAME OF THRONES GUESS WHO</h1>


<p class="instruct">Each player gets one yes or no question per turn in order to find out who the computers player is. If a player successfully guesses their opponents hidden character then they win! the computer is also trying to guess your randomy assignd character so make sure to be effcient in your guessing. Since if the computer guesses their person before you then you lose :(</p>

<p><a href="/guesswho">Click Here</a> to go back to the game</p>